.btn {
  padding: 4px;
  border: 2px solid #d6d5ba;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 3px;
  height: 30px;
  font-size: 0.75em; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline-color: #061d5a; }

.btn-primary {
  background: #628792;
  color: #ffffff; }

.btn-primary:focus {
  background: #061d5a; }

.btn-primary:hover {
  background: #36a6a9; }

.btn-primary:active, .btn-primary.active {
  background: #061d5a;
  box-shadow: none; }

.container {
  max-width: 100%;
  background-color: #000000;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  .container div {
    background-color: #000000;
    width: 100%;
    display: inline-block;
    display: none; }
  .container img {
    width: 100%;
    height: auto;
    opacity: 0.8; }

@media only screen and (max-width: 768px) {
  .slider {
    padding-top: 10%; } }
@media only screen and (max-width: 550px) {
  .slider {
    padding-top: 15%; } }
@media only screen and (max-width: 500px) {
  .slider {
    padding-top: 16%; } }
@media only screen and (max-width: 450px) {
  .slider {
    padding-top: 18%; } }
@media only screen and (max-width: 400px) {
  .slider {
    padding-top: 20%; } }
@media only screen and (max-width: 350px) {
  .slider {
    padding-top: 25%; } }

nav {
  text-transform: uppercase;
  font: 90% Helvetica, sans-serif; }
  nav li {
    display: inline-block;
    position: relative; }
    nav li a {
      color: #e3ac94;
      display: block;
      padding: 10px 14px;
      text-decoration: none; }
      nav li a:hover {
        background: #36a6a9;
        color: #ffffff; }
  nav ul {
    list-style: none;
    top: 100%;
    background: #061d5a;
    padding: 10px 0; }
    nav ul li a {
      color: #e3ac94;
      display: block;
      padding: 8px 20px;
      text-decoration: none; }
    nav ul li:hover {
      background: #628792;
      color: #ffffff; }
  nav.is-selected a {
    background: #628792;
    color: #ffffff; }
  nav.is-selected ul {
    display: block; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px; }

.dropdown:hover .dropdown-content {
  display: block; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.gallery {
  font-size: 0; }
  .gallery .gallery_image {
    opacity: 0.9;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 768px) {
      .gallery .gallery_image {
        width: 33.33333%;
        vertical-align: top; } }
    .gallery .gallery_image.fluid {
      width: 33.33333%; }
    .gallery .gallery_image img {
      width: 100%;
      border: 2px solid #000000; }
    .gallery .gallery_image p {
      font: 85% Helvetica, sans-serif;
      font-weight: lighter;
      margin-top: 0%; }

form input {
  text-transform: uppercase;
  letter-spacing: .15em;
  font: 80% Helvetica, sans-serif;
  margin-top: 1%;
  padding: 1%;
  display: inline-block; }

body {
  background: #ffffff;
  opacity: 0.9; }

header {
  position: fixed;
  background-color: #36a6a9;
  width: 100%;
  margin: 0 auto;
  z-index: 1; }

h3, h4, h1 {
  font: 200% Helvetica, sans-serif;
  margin-top: 1%;
  text-transform: uppercase;
  text-align: center; }

h4 {
  font: 150% Helvetica, sans-serif;
  margin-bottom: 1%; }

h1 {
  font-size: 250% Helvetica, sans-serif;
  color: #ffffff;
  background-color: #36a6a9;
  border: 4px solid #628792;
  width: 100%;
  padding: 1%; }

#home {
  position: relative; }

#portfolio {
  padding-top: 10%; }

#contact {
  padding-top: 7%; }
  #contact .profile_photo {
    margin-bottom: 1%;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    float: left; }
    @media only screen and (min-width: 768px) {
      #contact .profile_photo {
        width: 50%;
        vertical-align: top; } }
    #contact .profile_photo.fluid {
      width: 50%; }
    #contact .profile_photo img {
      width: 100%; }
  #contact .about {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    float: left;
    padding: 2%; }
    @media only screen and (min-width: 768px) {
      #contact .about {
        width: 50%;
        vertical-align: top; } }
    #contact .about.fluid {
      width: 50%; }
    #contact .about p {
      font: 90% Helvetica, sans-serif;
      font-weight: lighter; }

.form {
  text-align: center;
  clear: both;
  background-color: #e3ac94;
  padding: 1%; }

.social_links {
  list-style-type: none; }
  .social_links li {
    display: inline-block;
    margin: 1%; }

footer {
  clear: both;
  height: 100px;
  width: 100%;
  background-color: #36a6a9; }

/*# sourceMappingURL=main.css.map */
