// FONT VARIABLE
$font-stack: Helvetica, sans-serif;

// FORM STYLING
form {
	input {
		text-transform: uppercase;
		letter-spacing: .15em;
		font: 80% $font-stack;
		margin-top: 1%;
		padding: 1%;
		display: inline-block;
	}
}