// COLOR PALLETE VARIBALES
$default-blue: #628792;
$default-teal: #36a6a9;
$default-peach: #e3ac94;
$default-navy: #061d5a;
$default-white: #ffffff;
$default-black: #000000;

// FONT VARIABLE
$font-stack: Helvetica, sans-serif;

// STYLE SLIDER IMAGE GALLERY
.gallery {
	@include row;
	.gallery_image {
		@include col(1,3);
		img {
			width: 100%;
			border: 2px solid $default-black;
		}
	 	p {
	 		font: 85% $font-stack;
	 		font-weight: lighter;
	 		margin-top: 0%;
	 	}
	}
}
