$default-tan: #d6d5ba;
$default-blue: #628792;
$default-teal: #36a6a9;
$default-peach: #e3ac94;
$default-navy: #061d5a;
$default-white: #ffffff;
$default-black: #000000;

$font-stack: Helvetica, sans-serif;

nav {
	text-transform: uppercase;
	font: 90% $font-stack;
	li {
		display: inline-block;
  		position: relative;
  		a {
  			color: $default-peach;
      		display: block;
      		padding: 10px 14px;
      		text-decoration: none;

      	&:hover { background: $default-teal; color: $default-white; }
  		}
	}
	ul {
		list-style: none;
      	top: 100%;
     	background: $default-navy;
      	padding: 10px 0;
		li {
			a {
				color: $default-peach;
       			display: block;
        		padding: 8px 20px;
        		text-decoration: none;
			}
        	&:hover { background: $default-blue; color: $default-white; }
      }
    }

    &.is-selected {
    	a { background: $default-blue; color: $default-white; }
    	ul { display: block; }
	}
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


