// COLOR PALLETE VARIBALES
$default-tan: #d6d5ba;
$default-blue: #628792;
$default-teal: #36a6a9;
$default-peach: #e3ac94;
$default-navy: #061d5a;
$default-white: #ffffff;
$default-black: #000000;

// FONT VARIABLE
$font-stack: Helvetica, sans-serif;

// IMPORT PARTIAL .SCSS VIEWS
@import 'button';
@import 'slider';
@import 'nav';
@import 'grid';
@import 'gallery';
@import 'form';

body {
	background: $default-white;
	opacity: 0.9;
}

header {
	position: fixed;
	background-color: $default-teal;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
}

// STYLE HTML HEADER TAGS
h3 {
	font: 200% $font-stack;
	margin-top: 1%;
	text-transform: uppercase;
	text-align: center;
}

h4 {
	@extend h3;
	font: 150% $font-stack;
	margin-bottom: 1%;
}

h1 {
	@extend h3;
	font-size: 250% $font-stack;
	color: $default-white;
	background-color: $default-teal;
	border: 4px solid $default-blue;
	width: 100%;
	padding: 1%;
}

// DEFINE SECTION STYLING
#home {
	position: relative;
}

#portfolio {
	padding-top: 10%;
}

// CONTACT SECTION
#contact {
	padding-top: 7%;
	.profile_photo {
		margin-bottom: 1%;
		@include col(1, 2);
		// border: 2px solid $default-black;
		float: left;
			img {
				width: 100%;
			}	
		}
	.about {
		@include col(1, 2);
		float: left;
		padding: 2%;
		// background-color: $default-blue;
		p {
			font: 90% $font-stack;
			font-weight: lighter;
		}
	}
}

.form {
	text-align: center;
	clear: both;
	background-color: $default-peach;
	padding: 1%;
}

.social_links {
	list-style-type: none;
	li {
		display: inline-block;
		margin: 1%;
	}
}

// FOOTER STYLING
footer {
	clear: both;
	height: 100px;
	width: 100%;
	background-color: $default-teal;
}
