$default-tan: #d6d5ba;
$default-blue: #628792;
$default-teal: #36a6a9;
$default-peach: #e3ac94;
$default-navy: #061d5a;
$default-white: #ffffff;
$default-black: #000000;

@import 'button';
@import 'slider';
@import 'nav';

body {
	background: $default-black;
}

header {
	position: fixed;
	background-color: $default-teal;
	width: 100%;
	z-index: 1;
}

#home {
	position: relative;
}

#contact {
	position: relative;

}

.profile_photo {
	border: 2px solid white;
	width: 50%;
	float: left;
	img {
		width: 100%;
	}
}


// @for $i from 1 through 100 {     
	//.cell-#{$i} { width: 1% * $i; }   
//}


//%thick-line {   
	//border: 10px solid black; 
//}

//.profile {  
 //@extend %thick-line; 
//}
// Set varibales for theme colors

